:root {

    --primary-banner-color-rgb: 11,12,18;
    --secondary-banner-color-rgb: 92,187,235;

    --primary-bg-color: rgb(188, 228, 242);
    --primary-fg-color: rgb(62,54,54);
    
    --secondary-bg-color: #000000;
    --secondary-fg-color: #5cbbeb;

    --scrollbar-color: #7b7979;

    --shadow-color: #5cbbeb;
    --footer-text-color: #5cbbeb;

    --header-color: #333;
    --header-h1-color: hsl(240, 1%, 19%);
    --header-h2-color: hsl(240, 10%, 10%);

    --code-bg-color: #3e3636;
    --code-text-color: #e9ec3a;

    --copy-btn-bg-color: #f2efef;
    --copy-btn-fg-color: #0f0f0f;

    --img-ftr-yt-src: url('icon-pack/theme-blue/youtube-icon-blue.png');
    --img-ftr-em-src: url('icon-pack/theme-blue/email-icon-blue.png');

}